/* Estilização do corpo da página */
body {

    margin: 0;
    padding: 0;
    font-weight: 400; 
    font-family: "Open Sans", sans-serif;
    background-color:#201b2c; 
  }
  
  /* Estilização do cabeçalho */
  header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 10px; /* Espaçamento interno no cabeçalho */
  }
  
  header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
  
  /* Estilização do conteúdo principal */
  .main {
    .main {
      width: 100%;
      max-width: 600px;
      margin: 0 auto; /* Isso centraliza o conteúdo na horizontal */
      padding: 20px;
      background-color:#00000056;
      box-shadow: 0 0 10,px rgba(0, 0, 0, 0.1);
    }
  }
  
/* Estilização do formulário de login */

#login {
  text-align: center;
  margin: 0 auto; /* Isso centraliza o formulário na horizontal */
  width: 350px; /* Largura do formulário */
  padding: 20px; /* Espaçamento interno do formulário */
  background-color: #f5f5f5; /* Cor de fundo do formulário */
  border: 1px solid #ccc; /* Borda do formulário */
}

/* Estilo para os campos de entrada no formulário */
.caixa {
  margin-bottom: 10px; /* Espaçamento inferior entre os campos */
}

.caixa input[type="text"],
.caixa input[type="password"] {
  width: 80%; /* Ocupar toda a largura do contêiner */
  padding: 10px; /* Espaçamento interno dos campos de entrada */
  margin-top: 5px; /* Espaçamento superior dos campos de entrada */
  border: 1px solid #ccc; /* Borda dos campos de entrada */
  border-radius: 5px; /* Cantos arredondados dos campos de entrada */
  background-color: #ccc; /* Cor de fundo cinza para os campos de entrada dentro da classe .caixa */
}

label {
  display: block; /* Exibir cada rótulo em uma nova linha */
}






  /* Estilização dos botões de login */


  .entrar button {

  background-color: #839641;
  color: #fff;
  padding: 12px 65px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
  }

  .facebook button {

  background-color: #1877F2;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: 600;
}
  .google button {

    background-color:  #db4a39;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
  }






  /* Rodapé */
  .rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }
  
  /* Estilos adicionais podem ser adicionados conforme necessário. */
  